<div class="row">
  <!-- <div class="col-sm-12 overflow-y-scroll"> -->
  <h3 class="text-center" *ngIf="issuedBook.length<1">No Books to return.</h3>
  <h3 class="text-center" *ngIf="issuedBook.length>0">Current books issued to you</h3>
  <table *ngIf="issuedBook.length>0" class="table table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>
          Title
        </td>
        <td>
          Author
        </td>
        <td>
          Issued Date
        </td>
        <td>
          Due Date
        </td>
        <td>
          Action
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of issuedBook; let i=index;">
        <td>{{i+1}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.fromDate | date}}</td>
        <td>{{book.dueDate | date}}</td>
        <td>
          <button type="button" class="btn btn-info atlBtn" data-toggle="modal" [attr.data-target]="'#returnModal'+ i">Return</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- </div> -->
</div>

<!-- returnBook Modal -->
<div class="row" *ngIf="issuedBook.length>0">
  <div [attr.id]="'returnModal'+ i" *ngFor="let book of issuedBook; let i=index;" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Return Book</h4>
        </div>
        <div class="modal-body">
          <p>Title:&nbsp;<strong>{{book.title}}</strong></p>
          <p>Author:&nbsp;<strong>{{book.author}}</strong></p>
          <p>Issuing Date:&nbsp;<strong>{{book.fromDate | date}}</strong></p>
          <p>Returning Date:&nbsp;<strong>{{todaysDate | date}}</strong></p>
          <hr>
          <p>Kindly put the book at <strong>Shelf</strong> {{book.shelf}} under <strong>Block</strong> {{book.block}}</p>
          <hr>
          <!-- TODO: to enhace user experience: (hover)="colorAllPrevious(i);" -->
          <p>Rate Book:&nbsp;<span *ngFor="let rate of [1,2,3,4,5];" [ngClass]="{'glyphicon':true, 'glyphicon-star-empty': (book.rating<rate), 'emptyStar': (book.rating<rate), 'glyphicon-star': (book.rating>=rate),'colorStar': (book.rating>=rate)  }"
              (click)="ratingToBook(rate,i)"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info retBtn" data-dismiss="modal" (click)="returnBook(book,i);">Return</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <!-- <div class="col-sm-12"> -->
  <h3 class="text-center" *ngIf="logs.length<1">No Books transacted yet</h3>
  <h3 class="text-center" *ngIf="logs.length>0">Books issued to you so far.</h3>
  <table *ngIf="logs.length>0" class="table table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>
          Title
        </td>
        <td>
          Author
        </td>
        <td>
          Issued Date
        </td>
        <td>
          Returned Date
        </td>
        <td>
          Rated with
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of logs; let i=index;">
        <td>{{i+1}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.fromDate | date}}</td>
        <td>{{book.toDate | date}}</td>
        <td>
          <span *ngFor="let rate of [1,2,3,4,5];" [ngClass]="{'glyphicon':true, 'glyphicon-star-empty': (book.rating<rate), 'emptyStar': (book.rating<rate), 'glyphicon-star': (book.rating>=rate),'colorStar': (book.rating>=rate)  }"></span>
        </td>

      </tr>
    </tbody>
  </table>
  <!-- </div> -->
</div>