<div class="col-sm-6 col-xs-12">
        <div class="bookCard">
                <div class="row bookCardData">
                    <div class="col-sm-8 col-xs-8 paddingTop10">
                        <div class="col-sm-4 col-xs-6">
                            <label>Title</label>
                        </div>
                        <div class="col-sm-6 col-xs-6">{{bookData.title}}</div>
                        <div class="clearfix"></div>
                        <div class="col-sm-4  col-xs-6">
                            <label>Author</label>
                        </div>
                        <div class="col-sm-6 col-xs-6">{{bookData.author}}</div>
                        <div class="clearfix"></div>
                        <div class="col-sm-4 col-xs-6">
                            <label>ISBN</label>
                        </div>
                        <div class="col-sm-6 col-xs-6">{{bookData.isbn}}</div>
                        <div class="clearfix"></div>
                        <div class="col-sm-4 col-xs-6">
                            <label>Genere</label>
                        </div>
                        <div class="col-sm-6 col-xs-6">{{bookData.genre}}</div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 col-xs-12 marginBottom5">
                                <button type="button" [ngClass]="{'disabled': issuedBook.length>=booksPerUser || issuedBookIdArray.indexOf(bookData.id)>-1,  'btn':true,  'btn-info':true, 'cardIssueBtn': true}"
                                        data-toggle="modal" [attr.data-target]="issuedBook.length>=booksPerUser || issuedBookIdArray.indexOf(bookData.id)>-1 ? ' ': targetModalId">{{issuedBookIdArray.indexOf(bookData.id)>-1 ? 'Issued' : 'Issue Book'}}</button>
                        </div>
                        
                        <!-- <button type="button" [ngClass]="{'disabled': issuedBook.length>=booksPerUser || issuedBookIdArray.indexOf(bookData.id)>-1,  'btn':true,  'btn-info':true, 'cardIssueBtn': true}" (click)="openModal(xyz)">Issue Book</button> -->
                    </div>
                    <div class="col-sm-4 col-xs-4 thumbnail marginBottom5" style="height:150px;">
                        <!-- <img src=".." alt="..."> -->
                    </div>
                </div>
                <div class="row bookCardDataDesc">
                <div class="col-sm-12 col-xs-12 desc">
                    <label>Description</label>:
                    <strong>{{bookData.desciption}}</strong>
                    <br>
                    <div class="col-sm-offset-3 col-sm-5 col-xs-8">
                        <span class="pull-right">
                            <label>Rating</label>:
                            <strong>4 out of 5</strong>
                            <br>
                        </span>
                    </div>
                    <div class="col-sm-4 padding0 col-xs-4">
                        <span class="pull-right">
                            <label>Likes</label>:
                            <strong>500</strong>
                            <br>
                        </span>
                    </div>
                </div>
                </div>
            </div>
            
            <!-- issueBook Modal -->
            <div #xyz id="{{modalId}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Issue Book</h4>
                        </div>
                        <div class="modal-body">
                            <p>Title:&nbsp;
                                <strong>{{bookData.title}}</strong>
                            </p>
                            <p>Author:&nbsp;
                                <strong>{{bookData.author}}</strong>
                            </p>
                            <p>Issuing Date:&nbsp;
                                <strong>{{todaysDate | date}}</strong>
                            </p>
                            <hr>
                            <p>Get the book from
                                <strong>Shelf</strong> {{bookLocation.shelf}} under
                                <strong>Block</strong> {{bookLocation.block}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal" (click)="issueBook(bookData)">Issue</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
</div>