.btnTrackPanel{
    margin-bottom: 10px;
    .libBtn{
        // width: 100%;
        padding: 10px 0px;
        background-color: #2f6a9e;
        color: white;
        font-size: 18px;
        border: 0px;
    }
    .libBtnActive{
        background-color: #5bc0de !important;
        color:black;
    }
    .wid100{
        width:100px;
    }
}

.overflow-y-scroll{
    overflow-y: auto;
}
