<div class="row overflow-y-scroll">
  <div class="col-sm-12">
      <div class="col-sm-4 col-sm-offset-8 genreFilterOpt">
        <label>Genre Filter</label>
        <select class="form-control" [(ngModel)]="filterValue">
          <option *ngFor="let filterVal of filterValueArray" [ngValue]="filterVal">{{filterVal}}</option>
        </select>
      </div>
  </div>  
  
  <table class="table table-bordered inventoryTable">
    <thead>
      <tr>
        <td>#</td>
        <td>
          ISBN
        </td>
        <td>
          Title
        </td>
        <td>
          Author
        </td>
        <td>
          Genre
        </td>
        <td>
          Total Books
        </td>
        <td>
          Action
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books  | filterData: [filterValue,'']; let i=index;" ng-init="textFieldMode[i]=false;">
        <td>{{i+1}}</td>

        <td *ngIf="!textFieldMode[i]">
          {{book.isbn}}
        </td>
        <td *ngIf="textFieldMode[i]">
          <input class="form-control" type="text" [(ngModel)]="book.isbn" />
        </td>

        <td *ngIf="!textFieldMode[i]">{{book.title}}</td>
        <td *ngIf="textFieldMode[i]">
          <input class="form-control" type="text" [(ngModel)]="book.title" />
        </td>

        <td *ngIf="!textFieldMode[i]">{{book.author}}</td>
        <td *ngIf="textFieldMode[i]">
          <input class="form-control" type="text" [(ngModel)]="book.author" />
        </td>

        <td *ngIf="!textFieldMode[i]">{{book.genre}}</td>
        <td *ngIf="textFieldMode[i]">
          <input class="form-control" type="text" [(ngModel)]="book.genre" />
        </td>

        <td *ngIf="!textFieldMode[i]">{{book.totalPresent}}</td>
        <td *ngIf="textFieldMode[i]">
          <input class="form-control" type="text" [(ngModel)]="book.totalPresent" />
        </td>

        <td *ngIf="!textFieldMode[i]">
          <button type="button" class="btn btn-info atlBtn" (click)="textFieldMode[i]=!textFieldMode[i];">Update</button>
        </td>
        <td *ngIf="textFieldMode[i]">
          <button type="button" class="btn btn-info atlBtn" (click)="textFieldMode[i]=!textFieldMode[i];UpdateInfo(book)">Apply</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>