.genreFilterOpt {
    padding-right: 0px;
    margin-bottom: 10px;
}
.inventoryTable{
    thead, tbody{
        tr{
            td:nth-child(10){
                width: 5% !important;
            }
            td:nth-child(2){
                width: 17% !important;
            }
            td:nth-child(3){
                width: 17% !important;
            }
            td:nth-child(4){
                width: 17% !important;
            }
            td:nth-child(5){
                width: 17% !important;
            }
            td:nth-child(6){
                width: 10% !important;
            }
            td:nth-child(7){
                width: 17% !important;
            }
        }
    }
}
.overflow-y-scroll{
    overflow-y: auto;
}