.libPanel{
    .navDark{
        margin-bottom: 0px;
        background-color: #2f6a9e;
        border-radius: 0px;
        color: white;
        div {
            padding-top: 10px;
            .adSpan{
                font-size: 22px;
            }
            .logOutBtn{
                cursor: pointer;
                .logSpan{
                    font-size: 20px;
                }
            }        
        }
    }
    .btnPanel{
        background-color: white;
        padding: 5px 0px;
        div{
            .libBtn{
                width: 100%;
                padding: 10px 0px;
                background-color: #2f6a9e;
                color: white;
                font-size: 18px;
                border: 0px;
            }
            .libBtnActive{
                background-color: #5bc0de !important;
                color:black;
            }
        }
    }
}