<div class="row logInFrom text-center">
    <div class="col-sm-offset-4 col-sm-4 logInHead">ANY TIME LIBRARY</div>
    <div class="col-sm-offset-3 col-sm-6 padding-top-15">
        <form>
            <div class="input-group input-group-lg">
                <span class="input-group-addon logInAddOn" id="sizing-addon1">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input #user type="text" class="form-control logInControl" placeholder="Username" aria-describedby="sizing-addon1">
            </div>
            <div class="input-group input-group-lg padding-top-15">
                <span class="input-group-addon logInAddOn" id="sizing-addon2">
                        <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input #pass type="password" class="form-control logInControl" placeholder="Password" aria-describedby="sizing-addon2">
            </div>
            <div class="col-sm-offset-3 col-sm-6 text-center padding-top-15">
                <button class="btn btn-info btn-lg logInBtn" (click)="logIn(user.value,pass.value);">Log In</button>
                <!-- <button class="btn btn-primary btn-lg" (click)="logInUser();">Log In user</button> -->
            </div>
        </form>
    </div>
</div>