<div class="libPanel">
    <nav class="row navbar navDark desktopPanel">
        <div class="col-sm-8 col-xs-6">
            <span class="adSpan">Hello, Admin</span>
        </div>
        <div class="col-sm-4 col-xs-6 text-right">
            <span class="logOutBtn" (click)="logOut();">
                <span class="logSpan glyphicon glyphicon-log-out"></span>
                <span class="logSpan">Log Out</span>
            </span>
        </div>
    </nav>
    <div class="row btnPanel">
        <div class="col-sm-4 col-xs-4">
            <button [ngClass]="{'libBtn':true, 'libBtnActive':currentPanel==='config-panel'}" (click)="setCurrentPanel('config-panel');">Configure Settings</button>
        </div>
        <div class="col-sm-4 col-xs-4">
            <button [ngClass]="{'libBtn':true, 'libBtnActive':currentPanel==='inventory-manage'}" (click)="setCurrentPanel('inventory-manage');">Manage Books</button>
        </div>
        <div class="col-sm-4 col-xs-4">
            <button [ngClass]="{'libBtn':true, 'libBtnActive':currentPanel==='track-books'}" (click)="setCurrentPanel('track-books');">Track Books</button>
        </div>
    </div>
    <div [ngSwitch]="currentPanel">
        <app-admin-config-panel *ngSwitchCase="'config-panel'"></app-admin-config-panel>
        <app-admin-inventory-management-panel *ngSwitchCase="'inventory-manage'" [bookData]="booksData"></app-admin-inventory-management-panel>
        <app-admin-track-books-panel *ngSwitchCase="'track-books'" [bookData]="booksData"></app-admin-track-books-panel>
        <app-admin-config-panel *ngSwitchDefault></app-admin-config-panel>
    </div>
</div>