<div class="row overflow-y-scroll">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>username/userid</td>
          <!-- <td>password</td> -->
          <td>email</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{userData?.firstName}}</td>
          <td>{{userData?.lastName}}</td>
          <td>{{userData?.username}}/{{userData?.userId}}</td>
          <!-- <td>{{userData.password}}</td> -->
          <td>{{userData?.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>